<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <title>Create Article & Comment</title>
</head>
<body>
<h1> Create Article </h1>
<form action="">
  <div>
    <label>
      제목: <input type="text" name="title">
    </label>
  </div>
  <div>
    <label>
      내용: <input type="text" name="content">
    </label>
  </div>
  <div>
    <label>
      작성자: <input type="text" name="writer">
    </label>
  </div>
  <div>
    <input type="submit" value="생성">
  </div>
</form>
</body>
</html>